<h1>How are you feeling?</h1>
<form action="/forms/4_process">
  <label for="the_feeling">Feeling?..</label>
  <input id="the_feeling" type="text" name="your_feeling">
  <input type="submit">
</form>
