<!DOCTYPE html>
<html>
<head>
  <title>Login page</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</head>



<body>
<div class="container">
<div class="jumbotron">
  <h1>Welcome to your Log in page</h1>

<form action="/forms/8_process">
  <label for="User_name">User name</label>
  <input id="User_name" type="text" name="User_name">
 <label for="password">password</label>
  <input id="password" type="text" name="password">
<input type ="submit">
  </form>
</div>

</div>
</body>
</html>





