<h1> Enter to find Volume </h1>
<form action="/forms/6_process">
  <label for="length">Length</label>
  <input id="length" type="text" name="length">
<form action="/forms/6_process">
  <label for="width">width</label>
  <input id="width" type="text" name="width">
  <form action="/forms/6_process">
  <label for="height">height</label>
  <input id="height" type="text" name="height">
  <input type="submit">
</form>

