<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<style >


  h1 { font-family: Pacifico; }
</style>
</body>
</html>
<h1>Let's do a MADLIB!!!!</h1>


<form action="/forms/9_process">
  <label for="Noun_1">Noun</label>
  <input id="Noun_1" type="text" name="noun_1">

<label for="Noun_2">Noun</label>
  <input id="Noun_2" type="text" name="noun_2">
  <label for="noun_3">Noun</label>
  <input id="noun_3" type="text" name="noun_3">
  <label for="adjective_1">adjective</label>
  <input id="adjective_1" type="text" name="adjective_1">
  <label for="verb_1">verb</label>
  <input id="verb_1" type="text" name="verb_1">
<input type ="submit">

  </form>
